td {
  font-size: 107% !important;
}

th {
  font-size: 110% !important;
}

.custom-view-btn, .custom-save-btn {
  background-color: #cde0dc!important;
  color: black!important;  border-color: #cecfd5!important;

  box-shadow: none!important;
}
.navicon {
    margin-top: 10px;
    border-radius: 50%;
    border: solid 1px darkgray;
    background-color: #87ceeb;
}

.main-search {
  margin-top: 10px;
  margin-bottom: 60px;
  align-self: auto;
  padding: 60px;
  max-width: 1200px;
  border: 5px solid lightgray;
  border-radius: 25px;
}

.main-confirmation {
  margin-top: 10px;
  margin-bottom: 60px;
  align-self: auto;
  padding: 60px;
  max-width: 1200px;
  border: 5px solid lightgray;
  border-radius: 25px;
}

.main-donate {
    margin-top: 10px;
    margin-bottom: 60px;
    align-self: auto;
    padding: 60px;
    max-width: 1200px;
    border: 1px solid lightgray;
    border-radius: 25px;
  }

/* .landingtext {
   font-size: 150%;
} */

.link-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-decoration: underline;
  size:auto;
  margin: 0;
  padding: 0;
}

.link-button:hover, .link-button:focus {
  border: none;
  text-decoration: none;
}

.addbutton {
  font-size: 10px !important;
  border-radius: 20px !important;
  padding: 5px;
  padding-left: 20px !important;
  padding-right: 5px;
}

.splattext {
  margin-left: 23%;
  text-align: center;
  width: auto;
  font-size: 19px;
}

.top-margin{
  margin-top: 1rem;
}

.hide-component{
  display: none;
}

.show-component{
  width: 100%;
}

#home-page-org-search {
  padding-right: 20px;
  padding-left: 20px;
  align-self: auto;
}

#button {
    font-size: 60%;
    border-radius: 20px;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 80%;
  }

#close-btn, #checkout-btn, #register-btn, #login-btn {
  border-radius: 30px !important;
}
