.custom-view-btn, .custom-save-btn{
  background-color: #cde0dc!important;
  border-color: #cecfd5!important;
  color: black!important;
  box-shadow: none!important;
}
.top-margin{
  margin-top: 1rem;
}
/* @font-face {
    font-family: blkchcry;
    src: url(/fonts/BLKCHCRY.TTF);
}
h1{
    font-family: blkchcry;
    display: inline;
}
fieldset {
    border: 1px solid #cecfd5;
    border-radius: 6px;
    padding: 24px 30px;
    margin-bottom: 2rem;
  }
h5 {
    margin-bottom: 1rem;
}
.results{
    border: 1px solid #cecfd5;
    border-radius: 6px;
    padding: 1rem;
    margin: 1rem;
    margin-top:0;
    width:100%;
}
.list-group-item{
    padding:1.5rem;
}
.user-btn {
    display:inline-block;
    margin-left: .25rem;
    margin-top:0;
}
.book-img{
    float: left;
    margin-right: 1rem;
    margin-top: 1rem;
}
.book-text{
    margin-bottom: 1rem;
    margin-top: 1rem;
}
.button-wrapper{
    float: right;
    margin-left: 1rem;
    margin-bottom: 1rem;
}
.jumbotron {
    background: linear-gradient( rgba(0, 0, 0, 0.02), rgba(0, 0, 0, 0.02) ), url(/images/stripes2.png);
    border: 1px solid #cecfd5;
    background-size: 10% 100%;
    background-repeat: repeat-x;
}
.title{
    color:rgb(187, 85, 83);
}
.custom-btn-success{
    background-color: #cde0dc!important;
    border-color: #cecfd5!important;
    color: black!important;
    box-shadow: none!important;
}
.custom-btn-success:active{
    border-color: #cecfd5!important;
    box-shadow: none!important;
}
.custom-btn-success:active:focus {
    border-color: #cecfd5!important;
    box-shadow: none!important;
  }
  .custom-delete-btn{
    background-color: salmon!important;
    border-color: #cecfd5!important;
    color: black!important;
    box-shadow: none!important;
  }
  input.custom-form-control{
    border: 1px solid #cecfd5;
    border-radius: 6px;
    padding: .5rem;
    margin: 1rem;
    margin-left:0;
    margin-top:0;
    width:100%;
    background-color: white;

  }
  input{
    background-color: white;
    box-shadow: none;
  }
  input[type='text']:active:focus{
    background-color: white;
  }
 input{
    outline: 0 none;
    background-color: white;
    box-shadow: #ededda;
  }
  @media (hover: none) {
    navbar ul li p:hover { color: black; }
}
@media (min-width:150px) and (max-width: 767px){
    body {
        min-width:360px;
    }
    .header {
        min-height:100%!important;
        min-width:100%!important;
    }
    @media (max-width:598px){
        .user-btn{
            display:block;
            margin-left:0;
            margin-top:.25rem;
        }
    }
    @media (max-width:375px){
        body {
            min-width:360px;
        }
    }
} */
