#bio-img{
  background-image: url("../../assets/images/gabioinst.png");
  image-rendering: auto;
}

h5 {
  font-size: 400%;
  
}

h2 {
  margin-top: 5rem;

}

p {
  margin-top: 0px;
}

.icon {
  float: left;
  margin: 45px 15px 0px;
  width: 200px;
  
}

.summary {
  margin-top:20px;
  margin-right: 30px;
  padding-right: 30px;

}

.pageheader {
  margin-top: 5rem;
  margin-left: 10rem;
  
}

.main{
  margin-top: 60px;
  margin-bottom: 60px;
  padding-bottom: 60px;
  max-width: 1200px; 
  border: 10px solid black;
  border-radius: 25px;
}

.partnerbin {
  border: 10px solid #E8B5CE;
  border-radius: 25px;
  max-width: 85%;
  padding-top: 30px;
  padding-bottom: 30px;
}