.addbutton {
    font-size: 100%;
    border-radius: 20px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
  }

 td {
      font-size: 60px;
  }

  #table-div {
    overflow: hidden;
  }
